<h1>Add a New Drink!</h1>

<% if @drink.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @drink.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render 'form' %>
