<h1>Hello, <%= @user.name %></h1>
<p><%= link_to "Add a New Drink", new_drink_path %> | <%= link_to "See reviews you've written.", user_reviews_path(current_user) %></p>

<h3>Your favorites:</h3>
<% @user.drinks.each do |d| %>
  <p><%= link_to d.name, drink_path(d) %></p>
<% end %>
