/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html, body{
  height: 100%;
  font-size: 100%;
}
body{
  padding: 80px 0px 0px 0px;
}

// .background-root{ //used on <body>
body{ //used on <body>

  background: url('karly-gomez-Fk6ULMTxqj4-unsplash2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.root-text, .navbar-brand, .form-header{
  font-family: 'Lobster', Georgia, Times, serif;
}
.body-text, .nav-link, .form-label, .btn{
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.root-text{
  font-size: 4em;
  color: #2b192b;
}

.body-text{
  color: #888888;
}
.navbar-brand{
  font-size: 1.7em;
}

.nav-link{
  font-size: 1.3em;
}

.form-input{
  border-radius: 5px;
  border: 1px solid #cccccc;
  height: 30px;
  padding: 0px 0px 0px 5px;
}

.submit-btn{
  border-radius: 20px;
}

.checkbox_container {
  display: block;
  vertical-align: -1px;
  margin: 5px;
 }

th, td {
  border: 1px solid black;
  padding: 7px;
  font-size: 16px;
}

th{
  background-color: #99ccff;
}
tr:nth-child(even) {
  background-color: #f2f2f2;}

.field_with_errors {
  padding: 2px;
  background-color: pink;
  display: table;
}
