<h2><%= current_user.name %>'s Reviews</h2>

<% @reviews.each do |r|%>
  <p><%= "#{r.drink.name}"+ ' - '+"#{r.rating}" + '/5' %></p>
  <p><%= r.content %></p>
  <p><%= link_to "Edit Review", edit_review_path(r) %></p>
<% end %>
